/* Main CSS Comment */

@media(min-width: 1200px) {

body {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 5px;
    border: 5px solid blue;
    font: normal normal normal 12px 12px arial serif;
}

header, nav, footer{
    margin: 5px;
    padding: 5px;
    border: 3px solid blue;
}

header{
    display: flex;
    background-color: palegoldenrod;
    align-items: left;
    text-align: right;
    font: bold;
}

header img{
    width: auto;
    height: auto;
    margin-right: 5px;
}

main{
    margin: 10px;
    padding: 10px;
    float: left;
    width: 60%;
    height: 100vh;
    border: 5px blue solid;
}

aside{
    margin: 10px;
    padding: 10px;
    float: right;
    width: 31.5%;
    height: 100vh;
    border: 5px blue solid;
}

ul{
    list-style: none;
    line-height: 25px;
}

nav{
    text-align: right;
}


nav a{
    font-size: x-large;
    text-decoration: none;
    border: 2px solid skyblue;
    background-color: blanchedalmond;
}
nav a:hover{
    color: red;
    background-color: blue;
    text-decoration: none;
}

main img, iframe{
    border: 5px red solid;
    max-width: 100%;
    height: auto;
    width: auto;
}

footer{
    clear: both;
    font-size: smaller;
    text-align: center;
    background-color: palegoldenrod;
}

input{
    display: inline;
}

input[type=reset],[type=submit]{
    border: 1px solid blue;
    color: rosybrown;
    font-weight: bold;
}

fieldset{
    background-color: antiquewhite;
    border: 2px solid blue;
}

legend{
    text-align: center;
    font-weight: bolder;
} 
}
